@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.shimmer-text {
  background-image: linear-gradient(
    120deg,
    #f43f5e 0%,      /* rose-500 */
    #ec4899 35%,     /* pink-600 */
    #ffffff 50%,  
    #ec4899 65%,
    #f43f5e 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer 5s infinite linear;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
.characters{

  border-radius: 1rem;
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}